// THEME STYLES
// =======================
$color-main-dark: #012e40;
$color-darkest: #025159;
$color-main-light: #038c8c;
$color-lightest: #03a696;
$color-main-orange: #f28705;
// main styles
// ========================
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.5s;

	ul,
	li {
		list-style: none;
	}
}

body {
	width: 100%;

	a {
		text-decoration: none;
	}

	li:hover,
	a:hover {
		cursor: pointer;
		// pointer-events: none;
	}

	// because min screen 375px !!
	// @media (max-width: 374px) {
	// 	&::before {
	// 		content: "you must to change your devise !)) 😉";
	// 		color: red;
	// 		font-size: 5rem;
	// 		line-height: 1.5em;
	// 	}
	// }
}

// header styles
// ========================
// id="header"
.header__container {
	width: 100%;
	height: 600px;
	// background-color: transparentize($color: $color-main-dark, $amount: 0.1);
}

// id="navBar"
.nav__container {
	width: 100%;
	height: 100px;
	padding: 20px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

// id="navBar" // funcrion: scrol-top
@media (min-width: 768px) {
	.scroll-top {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;

		width: 100%;
		padding: 0 60px;

		// transition: all 0.5s;

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100px;
			border-radius: 0 0 25px 25px;
			// background-color: $color-headGrdnd-start;
			background: linear-gradient(
				to right top,
				$color-darkest,
				$color-main-dark
			);
		}
	}
}

.navBar__brand_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;

	img {
		width: 60px;
		height: 60px;
	}

	span {
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

// // navbar - menu
// // ========================
// // id="navbarMenu"

.navBar__menu_container {
	position: absolute;
	width: auto;
	height: 80%;
	top: -100%;
	left: 0;
	padding: 0 20px;
	overflow: auto;

	@media (min-width: 992px) {
		position: relative;
		height: auto;
		top: 0;
		padding: 0;
		overflow: inherit;
	}

	&-active {
		width: 100%;
		top: 100px;
		position: fixed;
		padding-bottom: 20px;

		border-radius: 10px;
		background-color: $color-lightest;
		box-shadow: 0 10px 20px $color-main-dark;
	}
}

.navBar__menu_items {
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 50px;
	width: 100%;
	padding: 20px;

	@media (min-width: 992px) {
		flex-direction: row;
		width: auto;
	}
}

.menu__item_container {
	position: relative;
	width: 100%;

	h3 {
		&::after {
			content: "";
			display: inline-block;
			width: 1rem;
			height: 1rem;
			vertical-align: -0.125em;
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/></svg>');
			background-repeat: no-repeat;
			background-size: 1rem 1rem;
			margin-left: 5px;
		}

		&:hover,
		&:focus {
			text-decoration: underline;
			cursor: pointer;

			&::after {
				transform: rotate(90deg);
			}
		}

		@media (min-width: 992px) {
			color: $color-main-dark;

			&::after {
				content: "";
				display: inline-block;
				width: 1rem;
				height: 1rem;
				vertical-align: -0.125em;
				background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/></svg>');
				background-repeat: no-repeat;
				background-size: 1rem 1rem;
			}

			&:hover {
				color: $color-lightest;
			}
		}
	}
}

.menu_item_dropdown {
	position: relative;
	width: 100%;
	padding-top: 20px;

	// background-color: transparentize($color: #012e40, $amount: 0.8);

	@media (min-width: 992px) {
		position: absolute;
		width: auto;
	}
}

// class="menu_item_dropdown hidden_item"
// // ========================
.hidden_item {
	display: none;
}

.item_dropdoun_cover {
	padding: 20px;
	border-radius: 5px;

	li {
		margin-top: 20px;
		// width: 100%;

		&:hover {
			font-weight: 700;
		}

		a {
			transition: none;
		}
	}

	@media (min-width: 992px) {
		background-color: white;
		box-shadow: 0 5px 5px 5px transparentize($color: #012e40, $amount: 0.8);
	}
}

// ========================
// navbar - menu -> scripts
// ========================
.scroll_view {
	&-lock {
		overflow: hidden;
	}
}

// id="btnBurger"
// // ========================
.btn_burger {
	margin: 0 0 0 auto;
	width: 32px;
	height: 32px;
	display: block;
	position: relative;

	background-color: $color-main-dark;

	&::before,
	&::after,
	& span {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: white;
		transition: all 0.3s;
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
	& span {
		top: 13px;
	}

	&-active::before {
		transform: rotate(45deg);
		top: 13px;
	}
	&-active::after {
		transform: rotate(135deg);
		bottom: 13px;
	}
	&-active span {
		// transform: scale(0);
		display: none;
	}
	&-active {
		border-radius: 50%;
		overflow: hidden;
	}

	@media (min-width: 992px) {
		display: none;
	}
}

// header banner content
// ========================
.section__container {
	padding: 20px;
	text-align: center;

	.header__title {
		h1 {
			color: $color-main-dark;
			font-size: 36px;
			text-transform: uppercase;
		}
	}
	.header__description {
		padding-top: 20px * 2;

		p {
			color: transparentize($color: $color-main-light, $amount: 0.2);
			font-weight: 600;
		}
	}
}
